.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding-top: 8vh;
    margin: auto;
}

.header-image{
    width: auto;
    transition: max-width 1s, min-width 1s;
}

.header-image-expanded{
    max-width: 30vw;
    min-width: 25vw;
}

.header-image-contracted{
    max-width: 10vw;
    min-width: 8vw;
}

.header-text{
    font-family: 'Hachi Maru Pop', cursive; 
    margin: 1rem 0rem 2rem 0rem;
    transition: font-size 1s;    
}

.header-text-expanded{
    font-size: 2rem;
}

.header-text-contracted{
    font-size: .9rem;
}

